@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:300,400,700,900');

body {
    margin-top: 0;
    position: relative;
    width: 100%;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400;
    font-family: 'Work Sans', sans-serif;
}

a {
    color: #ff3d00;
    -webkit-transition: color 400ms, background-color 400ms;
    -moz-transition: color 400ms, background-color 400ms;
    -o-transition:  color 400ms, background-color 400ms;
    transition:  color 400ms, background-color 400ms;
}
    a:hover,
    a:focus {
        text-decoration: none;
    }
}
hr {
    border-top: 1px solid #424242;
    border-bottom: 1px solid #fff;
}
.section-header .section-title {
    font-size: 44px;
    color: #272727;
    text-transform: uppercase;
    position: relative;
    padding-bottom: 20px;
    margin: 0 0 20px;
}
.btn {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ff3d00;
    border-width: 0;
    border-radius: 3px;
    background-color: transparent;
    border: 1px solid #ff3d00;
    text-transform: uppercase;
}
.btn-xs {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    color: #fff;
    padding: 4px 8px;
    border-width: 0;
    border-radius: 3px;
    background-color: #FF6D00;
}
.btn-primary {
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #fff;
    border-width: 0;
    border-radius: 3px;
    background: #ff3d00;
}
.btn:hover {
    background: #ff3d00;
    color: #fff;
}
.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
    background: #cc3000;
    color: #fff;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background: #cc3000;
    color: #fff;
}

.container-fluid {
    padding: 0 -15px 0 -15px;
    margin-bottom: 0;
    margin-top: 0;
    width: inherit;
}

/* -- STUFF -- */

@media (min-width: 1500px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 7.0em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 1.35em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        margin: 25px 0 20px 0;
        font-weight: lighter;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 img {
        width: 250px;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-weight: lighter;
        margin-top: 70px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-weight: lighter;
        margin-top: 70px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
    }
    #resp-3 .photo img {
        max-width: 330px;
        float: right;
        margin-right: 10px;
    }
    #resp-3 .bio p {
        font-size: 18px;
        line-height: 28px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        margin-top: 20px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
        font-weight: lighter;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
    }
}

@media (min-width: 1200px) and (max-width: 1499px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 5.0em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 1.35em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        margin: 25px 0 20px 0;
        font-weight: lighter;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 img {
        width: 250px;
    }
    #resp-2 br {
        display: none;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-weight: lighter;
        margin-top: 70px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-weight: lighter;
        margin-top: 70px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
    }
    #resp-3 .photo img {
        max-width: 330px;
        float: right;
        margin-right: 10px;
    }
    #resp-3 .bio p {
        min-width: 400px;
        font-size: 18px;
        line-height: 28px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        margin-top: 20px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
        font-weight: lighter;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 4.5em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 1.35em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        font-weight: lighter;
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 img {
        width: 250px;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 50px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 18px;
        line-height: 28px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 50px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
    }
    #resp-3 .photo img {
        max-width: 330px;
        float: right;
        margin-right: 10px;
    }
    #resp-3 .bio p {
        font-size: 14px;
        line-height: 22px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        text-decoration: none;
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-size: 18px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
        font-weight: lighter;
    }
    #resp-4 .blockquote .btn {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 50px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 4.5em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form br {
        display: none;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 0.95em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 img {
        width: 250px;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
        font-size: 0.95em;
    }
    #resp-3 .photo img {
        float: right;
        margin: 10px auto 20px auto;
    }
    #resp-3 .bio p {
        font-size: 0.95em;
        line-height: 22px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote {
        font-size: 0.95em;
        line-height: 22px;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 4.5em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form br {
        display: none;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 0.95em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 img {
        width: 250px;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
        font-size: 0.95em;
    }
    #resp-3 .photo img {
        float: right;
        margin: 10px auto 20px auto;
    }
    #resp-3 .bio p {
        font-size: 0.95em;
        line-height: 22px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote {
        font-size: 0.95em;
        line-height: 22px;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
}

@media (min-width: 375px) and (max-width: 575px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 4em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form br {
        display: none;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 0.95em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 img {
        width: 250px;
    }
    #resp-2 a {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
        font-size: 0.95em;
        text-align: center;
    }
    #resp-3 .photo img {
        max-width: 200px;
        margin: 10px 0 20px 0;
    }
    #resp-3 .bio p {
        font-size: 0.95em;
        line-height: 22px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return {
        margin-bottom: 50px;
    }
    #resp-3 .return .btn {
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote {
        font-size: 0.95em;
        line-height: 22px;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
}

@media (max-width: 374px) {

    /* --- FORM --- */
    #form {
        height: 100%;
        background-color: #fff;
        background-size: 800px;
        border-radius: 3px;
        font-family: 'Work Sans', sans-serif;
    }
    #form .quiz {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
    }
    #form .custom-radio .custom-control-input:checked~.custom-control-label::before {
        background-color: #ff3d00;
    }
    #form .custom-control-input:focus {
        color: red;
    }
    #form .custom-control-label::after {
        background-size: 0;
    }
    #form h1 {
        margin-bottom: 35px;
        font-size: 4em;
        font-weight: 900;
        line-height: .8;
        text-transform: uppercase;
        color: #424242;
    }
    #form br {
        display: none;
    }
    #form .custom-control {
        position: relative;
        display: block;
        margin-bottom: 20px;
    }
    #form .custom-control label {
        padding-left: 15px;
        font-size: 0.85em;
        font-weight: lighter;
        letter-spacing: .1px;
        color: #424242;
    }
    #form .footer-btn button {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- ANSWERS --- */
    /* --- #1 --- */
    #resp-1 {
        margin-top: calc(50%/2 - 14.5%);
        text-align: center;
        font-size: 0.95em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-1 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-1 a {
        font-size: 12px;
        font-weight: lighter;
        padding: 4px 8px;
        margin-top: 20px;
    }
    /* --- #2 --- */
    #resp-2 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #FFF;
        text-align: center;
        font-size: 0.85em;
        line-height: 22px;
        font-weight: lighter;
        color: #424242;
    }
    #resp-2 br {
        display: none;
    }
    #resp-2 b {
    	color: #424242;
        font-weight: 600;
    }
    #resp-2 a {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
    /* --- #3 --- */
    #resp-3 {
        margin-top: calc(50%/2 - 14.5%);
        background-color: #fff;
        font-weight: lighter;
        color:#6d6d6d;
        margin-bottom: 5px;
        font-size: 0.85em;
        text-align: center;
    }
    #resp-3 .photo img {
        max-width: 200px;
        margin: 10px 0 20px 0;
    }
    #resp-3 .bio p {
        font-size: 0.95em;
        line-height: 22px;
        color:#424242;
    }
    #resp-3 a {
        text-decoration: underline;
    }
    #resp-3 .contact {
        margin: 20px 0;
    }
    #resp-3 .social {
        margin-top: 20px;
    }
    #resp-3 a:hover {
        color:#6d6d6d;
    }
    #resp-3 .return .btn {
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
        text-decoration: none;
    }
    #resp-3 .btn:hover {
        color: #fff;
    }
    /* --- #4 --- */
    #resp-4 {
        margin-top: calc(50%/2 - 8.5%);
        text-align: center;
        font-weight: lighter;
        color: #424242;
    }
    #resp-4 h1{
        font-size: 72px;
        color: #f1f1f1;
        font-weight: bold;
    }
    #resp-4 b {
    	color: #424242;
    }
    #resp-4 a {
        margin-top: 40px;
    }
    #resp-4 a:hover {
        color: #fff;
        background-color: #cc3000;
    }
    #resp-4 .blockquote {
        font-size: 0.95em;
        line-height: 22px;
    }
    #resp-4 .blockquote-footer {
        color: #424242;
    }
    #resp-4 .blockquote .btn {
        font-weight: lighter;
        font-size: 12px;
        padding: 4px 8px;
        margin-top: 30px;
    }
}
